# node_modules
node_modules/
client/node_modules/
server/node_modules/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# build outputs
client/build/
build/
dist/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/app.log
server/app_err.log

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
